body {

    background-color: #1b202c;

}


/* center the blockquote in the page */
.blockquote-wrapper {
    display: flex;
    /*  height: 100vh;  */
    padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 620px;
    max-width: 80vw;
    margin: 40px auto;
    align-self: center;
}

/* Blockquote header */
.blockquote h1 {
    font-family: 'Cabin';
    position: relative;
    /* for pseudos */
    color: #e74848;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: 2px solid #fff;
    border: solid 2px;
    border-radius: 20px;
    padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
    content: "";
    position: absolute;
    border: 2px solid #e74848;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3;
}

.blockquote h1:before {
    content: "";
    position: absolute;
    width: 80px;
    border: 6px solid #0e1117;
    bottom: -2px;
    left: 50px;
    z-index: 2;
}

/* increase header size after 600px */

@media all and (min-width: 600px) {
    .blockquote h1 {
        /*    font-size: 3rem;    */
        line-height: 1.2;
    }

}

/* decrease header size below 450px */

@media all and (max-width: 450px) {
    .blockquote h1 {
        font-size: 2rem;
    }

}


/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left: 150px;
    padding-left: 12px;
}


.blockquote h4:first-letter {
    margin-left: -12px;
}

.answer {
    border: 3px solid #202534;
    /* background-color: #000000; */
    border-radius: 5px;
    /* background: linear-gradient(0deg, #030001 0%, #1c0101 50%); */
    padding: 20px;
    font-size: 1.25rem;
}

.answer p {
    font-size: 1.25rem;
}